.itemContainer{
  padding: 16px;
  width: 90%;
  font-size: 1rem;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.nameContainer{
  display: flex;
  justify-content: space-around;
}

.inputContainer input{
  width: 32%;
  border: solid 1px rgb(223, 218, 218);
  border-radius: 5px;
}

.inputContainer{
  display: flex;
  justify-content: space-between;
}

.buttonContainer{
  margin-top: 0.5rem;
}

.qtyContainer{
  margin-right: 0.5rem;
}

